<header>
  <div class="container" >
    <div class="row gx-5">
      <div class="banner col-md-12 d-flex position-relative-center justify-content-center">
        <img src="https://assets.bedu.org/images/top-lenguajes-programacion-2021.jpg?w=1200" class="img-fluid"  alt="Imagen Porfolio">    
     
      </div> 
    </div> 
  </div>
  <!-- here is profile image -->
  <div class = "container" >
    <div class="row gx-5">
      <div class="profile__image col-lg-12">
        <div class="row gx-5">
          <div class="col-lg-5 justify-content-center position-relative borde__sombreado">
            <img src="assets\images\image_profile.jpg" alt="Foto perfil" class="img-fluid ">
            <div class = "icon__potioner1 d-flex"><button class=" btn buton__pencil" type="button"><i class="bi bi-pen-fill"></i> </button></div> 
            
            <h1 id="dev-name">JAMES H. SERRATO</h1>
            <h2 id="dev-title">Full Stack Developer Jr.</h2>
            <div class="badges__container"> 
              <span class="badge text-bg-secondary">Tengo interes en </span>
              <span class="badge text-bg-secondary">Añadir seccion</span>
              <span class="badge text-bg-secondary">Mas</span>
            </div>
          </div>
          <div class="col-lg-7 cajas" >
            <div class="container borde__sombreado">
              <div class="row">
                <div class="col-lg-12" style="border-bottom: 2px solid rgb(46, 46, 46);">
                  <h3 >SOBRE MI</h3>
                </div>
              </div>
              <div class="row gx-5">
                <div class="col-lg-12 description__me">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio enim quidem molestias nulla culpa quasi accusamus quod eum. Similique eos quibusdam error? Repellat, delectus excepturi. Praesentium eveniet rerum modi quidem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio enim quidem molestias nulla culpa quasi accusamus quod eum. Similique eos quibusdam error? Repellat, delectus excepturi. Praesentium eveniet rerum modi quidem?</p>
                  <div class="d-flex justify-content-end" ><button class = "button btn buton__pencil" type="button"><i class="bi bi-pen-fill"></i></button> </div>
                </div>
              </div>
            </div>
            <div class="container borde__sombreadofilas">
              <div class="row gx-5">
                <div class="col-lg-12">
                  <p>Logos univercidades</p>
                  <div class="d-flex justify-content-end" ><button class = "button btn buton__pencil" type="button"><i class="bi bi-pen-fill"></i></button> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>