<div class = "separacion">
  <div class="container">
    <div class="row gx-5">
      <div class="col-lg-12 borde__sombreado" >
      <div class="row gx-5">
        <div class = "col-lg-11">
          <h2>Educación</h2>
        </div>
        <div class = "col-lg-1 d-flex justify-content-end"><div><button class = "button btn buton__pencil" type="button"><i class="bi bi-plus-square-fill"></i></button> </div></div>
      </div>
      <div class="container">
        <div class ="row gx-5 borde__sombreadofilas">
          <div class = "col-lg-2 d-flex justify-content-center align-items-center"><img src="assets/images/educacion.com.png" alt="Icono Educación" class = "img-fluid" width="80">
          </div>
          <div class = "col-lg-8"> 
          <h4>Ing. Forestal - UNLP</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem, quia sunt voluptatibus repellat excepturi consequuntur a tempore? Perspiciatis minima veniam accusamus eos porro, debitis excepturi a quo ipsum odit repellat. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus reprehenderit sint aliquid, tenetur culpa, blanditiis sunt, accusamus doloribus facere nesciunt fugit veniam pariatur libero laboriosam ratione laudantium dolores temporibus mollitia? incididunt ut</p>
          </div>
          <div class = "col-lg-2 order__button">

            <div><button class = "button btn buton__pencil" type="button"><i class="bi bi-pen-fill"></i></button> </div>
            <div><button class = "button btn buton__pencil" type="button"><i class="bi bi-trash3-fill"></i></button> </div>
        </div> 
      </div>
      <div class ="row gx-5 borde__sombreadofilas">
        <div class = "col-lg-2 d-flex justify-content-center align-items-center"><img src="assets/images/educacion.com.png" alt="Icono Educación" class = "d-block" width="80">
        </div>
        <div class = "col-lg-8"> 
        <h4>D. Full Stack - Argentina programa </h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat laboriosam id atque magni deleniti minus exercitationem. Dolore iusto sed et qui voluptatibus cum sunt rem aspernatur commodi. Rem, dolores itaque. ut Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda repellat quo mollitia, deleniti illo exercitationem a explicabo maxime nam illum amet dolor voluptas non obcaecati, fugit saepe modi labore. Magni!</p>
        </div>
        <div class = "col-lg-2 order__button">
          <div><button class = "button btn buton__pencil" type="button"><i class="bi bi-pen-fill"></i></button> </div>
          <div><button class = "button btn buton__pencil" type="button"><i class="bi bi-trash3-fill"></i></button> </div>
      </div>
    </div>
  </div>
</div>